//主色
$primaryColorPink: #e15f9f;


//文字顏色
$mainTextColor: #000000;

//輸入框顏色
$inputColor: #f3f3f3;
$inputTextColor: #cccccc;
$inputHintColor: #a3a3a3;

//背景色
$bgColorWhite: #ffffff;
$bgColorGray: #e5e3e6;